body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
  font-size: 18px; /* Tamanho da fonte */
    transition: background-color 0.3s ease;
}

.access-button:hover {
    background-color: #45a049;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
}

.button-container {
    position: fixed;
    bottom: 20px; /* Distância do botão em relação à parte inferior da página */
    left: 50%;
    transform: translateX(-50%);
    z-index: 999; /* Garante que o botão esteja acima de outros elementos */
}

.access-button {
    padding: 15px 30px; /* Tamanho do botão */
    background-color: #4c87af;
    color: white;
    border: none;
    border-radius: 50px; /* Bordas arredondadas */
    cursor: pointer;
    font-size: 18px; /* Tamanho da fonte */
    transition: background-color 0.3s ease;
}

.access-button:hover {
    background-color: #45a049;
}
