html, body {
    background-image: linear-gradient(to bottom, #F0FFFF, #FFFFFF);
    height: 100%;
}

.logo {
    max-width: 200px;
    max-height: 150px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 10;
}