.logo {
    max-width: 150px;
    max-height: 150px;
    margin: 20px auto 0 auto;
    cursor: pointer;
}

.logo:hover {
    background-color: aqua;
}

hr {
 border-color: rgb(252, 252, 252);
 opacity: 0.2;
}

@media only screen and (max-width: 768px) {
    .logo {
        max-width: 200px;
        display: block;
        margin: 20px auto 0 auto;
    }
}

@media only screen and (min-width: 769px) {
    .logo {
        margin-left: 50px;
        margin-right: 50px;
    }
}
