.logo-categories {
    display: flex; /* Use flexbox para organizar os itens */
    align-items: center; /* Alinhe verticalmente os itens */
    justify-content: center; /* Centralize horizontalmente os itens */
}

.logo {
    max-width: 150px;
    max-height: 150px;
    margin-right: 20px; /* Adicione um espaçamento à direita para separar a logo das categorias */
    cursor: pointer;
}

.categories a {
    margin-right: 10px; /* Adicione um espaçamento entre as categorias */
    text-decoration: none;
    color: #333;
}

.logo:hover {
    background-color: aqua;
}

.hr_separator {
    border: none;
    border-bottom: 1px solid rgb(92, 92, 92); /* Define a borda inferior do hr */
    opacity: 0.2;
}

.header {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .logo {
        max-width: 200px;
        display: block;
        margin: 20px auto 0 auto;
    }
}

@media only screen and (min-width: 769px) {
    .logo {
        margin-left: 50px;
        margin-right: 50px;
    }

    .header {
        justify-content: flex-start;
    }
}
